:root {
    --text-color: #333;
    --link-color: rgb(0,100,200);

    --primary-background: #e0e0e0;
    --secondary-background: #f0f0f0;
    --primary-background-darker: #bebebe;
    --primary-background-lighter: #ffffff;
    
    --drop-down-shadow: rgba(212, 212, 212, 0.8);
    
    --grey100: #ECECED;
    --grey200: #CFCFD1;
    --grey300: #B2B3B5;
    --grey400: #78797E;
    --grey500: #3E4047;
    --grey600: #383A40;
    --grey700: #25262B;
    --grey800: #1C1D20;
    --grey900: #131315;
    
    --primary: rgb(132, 175, 253);
    --primary-darkish: rgb(157, 191, 255);
    --primary-secondary: rgb(176, 204, 255);
    --primary-darker: rgb(136, 177, 255);
    --highlight-border: rgb(53, 66, 92);
}

@media print {
    :global(body.dark-mode) {
        --text-color: rgb(0, 0, 0) !important;
        --link-color: rgb(0,100,200) !important;
    
        --primary-background: #e0e0e0 !important;
        --secondary-background: #f0f0f0 !important;
        --primary-background-darker: #bebebe !important;
        --primary-background-lighter: #ffffff !important;
        
        --drop-down-shadow: rgba(212, 212, 212, 0.8) !important;
        
        --grey100: #ECECED !important;
        --grey200: #CFCFD1 !important;
        --grey300: #B2B3B5 !important;
        --grey400: #78797E !important;
        --grey500: #3E4047 !important;
        --grey600: #383A40 !important;
        --grey700: #25262B !important;
        --grey800: #1C1D20 !important;
        --grey900: #131315 !important;
        
        --primary: rgb(132, 175, 253) !important;
        --primary-darkish: rgb(157, 191, 255) !important;
        --primary-secondary: rgb(176, 204, 255) !important;
        --primary-darker: rgb(136, 177, 255) !important;
        --highlight-border: rgb(53, 66, 92) !important;
    }

}
:global(body.dark-mode) {
    --text-color: #f1f1f1;
    --link-color: rgb(75 165 255);

    --primary-background: #373e46;
    --secondary-background: #24292E;
    --primary-background-darker: #181A1F;
    --primary-background-lighter:  #3a3f44;
    --drop-down-shadow: rgb(93, 97, 104);
    --primary: rgb(71, 120, 209);
    --primary-lighter: rgb(61, 112, 207);
    --primary-secondary: rgb(117, 163, 250);
    --primary-darker: rgb(21, 59, 129);
    --highlight-border: rgb(123, 157, 221);
}